<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">
      <nav class="navbar navbar-light bg-faded" style="background-color: #e3f2fd;" >
        <div class="nav">
          <a class="nav-link active" href="<%= posts_path %>">Статьи</a>
          <a class="nav-link" href="#">Контакты</a>
        </div>
        <%= link_to 'Новая статья', new_post_path, class:'btn btn-outline-primary pull-xs-right' %>
      </nav>
    </div>



    <div class="container main">
      <!-- <%= link_to 'Новая статья', new_post_path %> -->
      <%= yield %>
    </div>
  </body>
</html>
